// Navigation Styles here
header{
    h1{
        text-align: initial;
    }
    nav{
        display:flex;
        justify-content: flex-end;
        width: 100%;
        padding-left:70%;
        a{
            text-decoration: none;
        }
    }
}